body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(222, 222, 222, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.banner {
  margin-top: 110px;
  margin-left: -15px;
  margin-right: -15px;
  height: 500px;
  background-image: url(images/merry_christmas_top_banner.jpg);
  background-size: cover;
  background-position: center;
}

.banner-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 65%;
  width: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.banner-para {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.featured-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.featured-section {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.05), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  /* oprional transform on hover
.card:hover {
    transform: scale(1.05);
}
*/
}

#addToCartBtn {
  background-color: rgb(255, 255, 255);
}

#addToCartBtn:hover {
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
  border-color: rgb(0, 0, 0);
  background: rgb(238, 238, 238);
  background: radial-gradient(
    circle,
    rgba(238, 238, 238, 1) 50%,
    rgba(222, 222, 222, 1) 75%
  );
  color: rgb(173, 82, 212);
}

.gallery-container {
  margin-top: 75px;
  padding-bottom: 5px;
}

.gallery-heading {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.img-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-container:hover {
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
}

.about-contact {
  margin-top: 20px;
}

.about-content {
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  text-align: center;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    332deg,
    rgba(238, 238, 238, 1) 29%,
    rgba(249, 230, 255, 1) 100%
  );
}

.about-header {
  font-family: "Montserrat", sans-serif;
}

.about-para {
  text-align: center;
  margin: 20px;
  padding: 8px;
}

.contact-content {
  padding-bottom: 20px;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.form-check {
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: rgb(255, 255, 255);
}

.submit-button:hover {
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
  border-color: rgb(216, 126, 255);
  background: rgb(238, 238, 238);
  background: radial-gradient(
    circle,
    rgba(238, 238, 238, 1) 50%,
    rgba(222, 222, 222, 1) 75%
  );
  color: rgb(173, 82, 212);
}

.page-footer {
  height: 120px;
  margin-top: 60px;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    332deg,
    rgba(238, 238, 238, 1) 29%,
    rgba(249, 230, 255, 1) 100%
  );
}

